<div class="index-header">
  <div class="title">
    <h1>いらっしゃいませ</h1>
    <h2>きょうはなにをかいますか</h2>
  </div>
</div>
<div class="purchases">
  <%= link_to purchase_path(100), class:"purchase" do %>
    <%= image_tag '/assets/100円.png', size: "320x110" %>
  <% end %>
  <%= link_to purchase_path(200), class:"purchase" do %>
    <%= image_tag '/assets/200円.png', size: "320x110" %>
  <% end %>
  <%= link_to purchase_path(300), class:"purchase" do %>
    <%= image_tag '/assets/300円.png', size: "320x110" %>
  <% end %>
  <%= link_to purchase_path(400), class:"purchase" do %>
    <%= image_tag '/assets/400円.png', size: "320x110" %>
  <% end %>
  <%= link_to purchase_path(500), class:"purchase" do %>
    <%= image_tag '/assets/500円.png', size: "320x110" %>
  <% end %>
</div>


