<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>だがしや</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <header>
    <div class="hisashi">
      <%= image_tag asset_path('日さし.png'), width: '100%' %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="dot">
      <%= image_tag asset_path('ドット.png'), class: 'img-fluid', width: '100%' %>
    </div>
  </footer>
</html>
